.count_down {
	padding-bottom: 25px;
	padding-top: 1px;
	margin-top: 70px;
	margin-bottom: 70px;
}
.countdown_area {
 margin-top: 25px;
}
.counter_item {
   background-color: #282828;
   border-radius: 5px;
   padding-bottom: 20px;
}
.counter_item h2 {
   color: #FFFFFF;
   font-size: 30px;
   font-weight: 700;
}
.counter_item p {
   color: #FFFFFF;
   font-size: 15px;
   font-weight: 700;
}
.counter {
	margin-top: 20px;
	display: block;
}
.awsam_icon svg {
   color: #ff6a00;
   margin-left: 2px;
   margin-top: 42px;
   font-size: 3em;
}
.awsam_icon svg:hover{
   color: #FFFFFF;
}
@media only screen and (min-width: 767px) and (max-width: 991px) { 
  .count_down {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .counter_item h2 {
    font-size: 20px;
  }
  .counter_item p {
    font-size: 12px;
  }
  .awsam_icon svg {
    font-size: 2em;
  }
  .awsam_icon svg {
    margin-top: 25px;
  }
  .counter_item p {
    margin-bottom: 5px;
  }




}