span.span_valuse {
	transition: all ease 0.5s;
	text-decoration: none;
	color: #978D8D !important;
}
.billing-address-bar.bar_two {
	background: #e6f7f6;
}
.live_link {
	color: green;
	font-weight: 500;
	text-decoration: underline !important;
}
.span_valuse.project_details {
	font-size: 15px;
}
.career_objective {
	color: #867C7C;
	margin-top: 30px;
	padding-bottom: 0;
	margin-bottom: 0;
}

  /* Mobile Layout: 320px. */
  @media only screen and (max-width: 767px) { 
    .edit-profiles {
      display: none;
    }
    .span_valuse {
      font-size: 15px;
    }
    .span_valuse.project_details {
      font-size: 14px;
    }
    .billing-address-bar h3 {
      font-size: 15px !important;
    }
  
  }

  
/* Tablet Layout: 768px. */

@media only screen and (min-width: 767px) and (max-width: 991px) { 
  .edit-profiles > button.default-btn {
    font-size: 11px !important;
    padding: 14px 8px !important;
  }
}